*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.side-nav{
    height: 100vh;
    background-color: slateblue;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}
.side-nav-open{
    width: 16%;
}
.side-nav-close{
    width: 0%;
    opacity: 0;
}
.page{
    height: auto;
    background-color: #f2f2f2;
    transition: 0.3s ease;
}
.page-open{
    width: 84%;
    margin-left: 16%;
}
.page-close{
    width: 100%;
    margin-left: 0%;
    
}
button{
    box-shadow: none !important;
}
/* side menubar coding */
.side-nav ul li:hover{
    border: 1px solid #fff !important;
    cursor: pointer;
}
nav{
    z-index: 1000 !important;
}